// colors
$primary: #5F8B2F;
$main : #2A365E;
$black: #000;
$white: #fff;
$textColor: #2B2B2B;
$red:#A4334A;
$red-light:#E51435;
// fonts
$mainFont:'Open Sans', sans-serif;
$bebas: 'Bebas', sans-serif;


